$color-white: #ffffff;
$color-primary: #07448f;

$color-gray-light: #FBFCFB;
$color-gray: #f2f2f2;
$color-gray-medium: #ccc;
$color-gray-dark: #555;

$background-primary: #055b9b;
$font-default: 'Roboto', sans-serif;
$color-red: #e7505a;

@function rem($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}