$font-default: 'Roboto', sans-serif;
$font-default-regular: 'Roboto', sans-serif;
$font-size-default: 16px;
$animation-duration: .5s;

$color-primary: #07448f;
$background-primary: #055b9b;

$color-white: #ffffff;
$color-grey-light: #FBFCFB;
$color-grey: #f2f2f2;
$color-grey-medium: #ccc;
$color-grey-dark: #555;
$color-grey-13: #333;
$color-grey-20: #444;
$color-grey-60: #999;
$color-grey-80: #ccc;
$color-grey-100: #eee;
$color-black: #000;
$color-red: #e7505a;

@function rem($size) {
  $rem-size:  calc($size / 16px);
  @return #{$rem-size}rem;
}